.section {
  min-width: $site-wrapper-large + 60px;
  @include max-screen($breakpoint-mobile) {
    min-width: 100%;
  }

  #{$windows} {
    min-width: $site-wrapper-large;
  }
}
.section--index-products {
  padding-top: 89px;
  @include max-screen($breakpoint-mobile) {
    padding-top: 15px;
  }
}
.section--index-about {
  padding-top: 139px;
  @include max-screen($breakpoint-mobile) {
    padding-top: 100px;
  }
}
.section--index-catalogue {
  padding-top: 118px;
  @include max-screen($breakpoint-mobile) {
    padding-top: 99px;
  }
}
.section--index-distributors {
  padding-top: 108px;
  @include max-screen($breakpoint-mobile) {
    padding-top: 98px;
  }
}
.section--single {
  padding-top: 62px;
  padding-bottom: 66px;
  min-height: 452px;
  @include max-screen($breakpoint-mobile) {
    min-height: 100%;
    padding-top: 0;
    padding-bottom: 0;
  }
}
.section--page-distributors {
  padding-top: 62px;
  @include max-screen($breakpoint-mobile) {
    padding-top: 0;
  }
}
.section--page-about {
  padding-top: 61px;
  @include max-screen($breakpoint-mobile) {
    padding-top: 0;
  }
}
.section--page-contact {
  padding: 62px 0 132px;
  @include max-screen($breakpoint-mobile) {
    padding: 0 0 70px;
  }
}
.section__wrapper--index-products {
  padding-top: 20px;
  background: url('../images/bg-product-section.jpg') no-repeat right top;
  @include max-screen($breakpoint-mobile) {
    margin: 0 -20px;
    background-position: 57px 16px;
    background-size: 150%;
  }
}
.section__wrapper--index-about {
  position: relative;
  &:before {
    content: "";
    width: 510px;
    height: 510px;
    background: url('../images/bg-about-us.png') no-repeat right top;
    position: absolute;
    right: -72px;
    top: 28px;
    @include max-screen($breakpoint-mobile) {
      width: 253px;
      height: 245px;
      background: url('../images/bg-about-us-sp.png') no-repeat right top / cover;
      right: -20px;
      top: 17px;
    }

    #{$windows} {
      top: 40px;
    }

    #{$ie} {
      top: 60px;
    }
  }
}
.section__wrapper--index-catalogue {
  background: url('../images/bg-catalogue.jpg') no-repeat left 50px;
  @include max-screen($breakpoint-mobile) {
    margin: 0 -20px;
    background: url('../images/bg-catalogue-sp.jpg') no-repeat left 40px / 100%;
  }

  #{$windows} {
    background-position: left 48px;
  }
}
.section__wrapper--single {
  position: relative;
  padding-bottom: 28px;
  &:before {
    content: '';
    background: url('../images/bg-footer-contact.jpg') repeat center 26px / contain;
    width: calc(100% + 266px);
    height: 100%;
    min-height: 280px;
    position: absolute;
    left: 0;
    top: 25px;
    margin: 0 -133px;
    overflow: hidden;
    @include max-screen($breakpoint-mobile) {
      margin: 0;
      top: 0;
      width: 100%;
      left: 0;
      height: 100%;
    }
  }

  #{$windows} {
    &:before {
      top: 33px;
    }
  }

  #{$ie} {
    &:before {
      top: 48px;
    }
  }
}
.section__wrapper--distributors {
  position: relative;
  &:before {
    content: "";
    background: url('../images/bg-map.png') no-repeat right top / cover;
    width: 695px;
    height: 415px;
    position: absolute;
    top: -129px;
    right: -73px;
    @include max-screen($breakpoint-mobile) {
      width: 88vw;
      height: 50vw;
      top: 20px;
      right: -16px;
    }
  }
}
.section__wrapper--index-distributors {
  &:before {
    top: -25px;
    right: -71px;
    @include max-screen($breakpoint-mobile) {
      top: 15px;
      right: -16px;
      height: 53vw;
    }
  }
}
.section__wrapper--404 {
  padding: 191px 12px 162px;
  margin: -13px -12px 0;
  position: relative;
  @include max-screen($breakpoint-mobile) {
    padding: 0 12px 100px;
    text-align: center;
  }
  &:after {
    content: "";
    background: url('../images/bg-404.png') no-repeat right top / cover;
    width: 606px;
    height: 542px;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    @include max-screen($breakpoint-mobile) {
      width: calc(100vw - 92px);
      height: calc(100vw - 122px);
      top: auto;
      bottom: 34px;
      right: 15px;
      background-size: 100% auto;
      min-width: 270px;
      min-height: 245px;
      max-width: 400px;
      max-height: 360px;
    }
  }
}
.section__wrapper--contact {
  position: relative;
  &:before {
    content: "";
    background: url('../images/bg-contact.png') no-repeat left top;
    width: 593px;
    height: 496px;
    position: absolute;
    left: -73px;
    top: 24px;
    @include max-screen($breakpoint-mobile) {
      background: url('../images/bg-catalogue-sp.jpg') no-repeat left top / 100%;
      width: 100%;
      height: 106px;
      left: 0;
      top: 20px;
    }
    @include max-screen($breakpoint-mobile-sm) {
      top: 17px;
    }
  }

  #{$windows} {
    &:before {
      top: 35px;
    }
  }

  #{$ie} {
    &:before {
      top: 48px;
    }
  }
}
.section__title {
  font-size: 76px;
  text-transform: uppercase;
  color: #001a43;
  letter-spacing: 0.1em;
  line-height: calc(80 / 76);
  position: relative;
  @include max-screen($breakpoint-mobile) {
    font-size: 50px;
    letter-spacing: 0.095em;
  }

  #{$windows-firefox} {
    font-weight: normal;
  }
}
.section__title--index-products {
  margin-left: -2px;
}
.section__title--index-catalogue {
  margin-left: -5px;
  margin-bottom: -2px;
  @include max-screen($breakpoint-mobile) {
    margin-left: 0;
    letter-spacing: 0.11em;
  }

  #{$ie} {
    margin-top: -16px;
  }
}
.section__title--footer-contact {
  margin-left: -3px;
  letter-spacing: 0.11em;
  margin-bottom: -1px;
  @include max-screen($breakpoint-mobile) {
    margin-left: 2px;
    margin-bottom: 0;
  }

  #{$windows} {
    top: -12px;
  }

  #{$ie} {
    top: -27px;
  }
}
.section__title--inner {
  font-size: 66px;
  margin-left: -3px;
  letter-spacing: 0.1em;
  margin-bottom: -5px;
  @include max-screen($breakpoint-mobile) {
    font-size: 50px;
    margin-left: 3px;
    margin-bottom: 7px;
    margin-top: -20px;
    padding: 0 20px;
    letter-spacing: 0.05em;
  }
  @include max-screen($breakpoint-mobile-sm) {
    font-size: 43px;
    margin-top: -17px;
  }
}
.section__title--404 {
  letter-spacing: 0.103em;
  margin-bottom: 10px;
  @include max-screen($breakpoint-mobile) {
    line-height: 1.1;
    margin-bottom: 5px;
    text-align: left;
  }
}
.section__title--inner-cat {
  letter-spacing: 0.13em;
  font-size: 52px;
  margin-bottom: 48px;
  @include max-screen($breakpoint-mobile) {
    letter-spacing: 0.11em;
    font-size: 50px;
    margin-bottom: 20px;
  }
}
.section__title--inner-cat-small {
  font-size: 24px;
  margin-top: -23px;
  margin-bottom: 63px;
  @include max-screen($breakpoint-mobile) {
    font-size: 22px;
    margin-top: 34px;
    margin-bottom: 29px;
  }
  &:before {
    content: "";
    width: 100%;
    height: 1px;
    background-color: #edf0f3;
    position: absolute;
    left: 0;
    top: 8px;

    #{$windows} {
      top: 12px;
    }

    #{$ie} {
      top: 17px;
    }
  }
  span {
    background-color: #fff;
    display: inline-block;
    position: relative;
    padding-right: 15px;
    @include max-screen($breakpoint-mobile) {
      padding-right: 5px;
    }
  }
}
.section__title--taxonomy {
  font-size: 68px;
  margin-bottom: 14px;
  @include max-screen($breakpoint-mobile) {
    font-size: 53px;
    margin-bottom: 6px;
    padding: 0 24px;
    letter-spacing: 0.12em;
    margin-top: -19px;
  }
}
.section__title--single {
  font-size: 66px;
  max-width: 50%;
  margin-bottom: 14px;
  z-index: 2;
  @include max-screen($breakpoint-mobile) {
    font-size: 53px;
    max-width: 100%;
    padding: 0 24px;
    margin-top: -20px;
    margin-bottom: 0;
    word-break: break-word;
    word-wrap: break-word;
  }
}
.section__title--single-sub {
  font-size: 44px;
  @include max-screen($breakpoint-mobile) {
    font-size: 50px;
  }
}
.section__title--hidden {
  display: none;
}
.section__description {
  color: #001a43;
  font-family: $font-hiragino-kaku;
  letter-spacing: 0.1em;
  line-height: calc(28 / 14);
  margin-bottom: 40px;
  position: relative;
  @include max-screen($breakpoint-mobile) {
    font-size: 11px;
    margin-top: 1px;
    margin-bottom: 28px;
  }
  &:last-child {
    margin-bottom: 0;
  }
  .section--index-about & {
    @include max-screen($breakpoint-mobile) {
      position: relative;
      width: 220px;
      line-height: 1.5;
      padding-top: 2px;
      margin-bottom: 31px;
    }
  }
  .section__content & {
    padding: 0 61px;
    margin-bottom: 28px;
    @include max-screen($breakpoint-mobile) {
      padding: 0;
      width: 100%;
      line-height: 2;
      margin-bottom: 22px;
    }
  }
  .section--index-catalogue & {
    @include max-screen($breakpoint-mobile) {
      margin-bottom: 23px;
    }
  }
}
.section__description--inner {
  @include max-screen($breakpoint-mobile) {
    font-size: 11px;
    margin: 0 5px 9px;
    letter-spacing: 0.14em;
    line-height: calc(20 / 11);
    padding: 0 20px;
  }
}
.section__description--distributors {
  line-height: 1.5;
  padding-top: 2px;
  margin-bottom: 68px;
  @include max-screen($breakpoint-mobile) {
    margin-bottom: 31px;
  }
}
.section__description--page-distributors {
  @include max-screen($breakpoint-mobile) {
    letter-spacing: 0.188em;
  }
}
.section__description--taxonomy {
  margin-bottom: 90px;
  max-width: 700px;
  @include max-screen($breakpoint-mobile) {
    padding: 0 55px 0 24px;
    line-height: 1.6;
    letter-spacing: 0.14em;
    margin-bottom: 38px;
  }
}
.section__description--footer-contact {
  margin-top: -1px;
  margin-bottom: 0;
  @include max-screen($breakpoint-mobile) {
    margin-top: 1px;
    line-height: 1.6;
    padding-left: 6px;
  }

  #{$ie} {
    margin-top: -20px;
  }
}
.section__description--single {
  max-width: 455px;
  z-index: 2;
  text-shadow: 0 0 10px #fff;
  @include max-screen($breakpoint-mobile) {
    padding: 0 24px;
    letter-spacing: 0.14em;
    line-height: 1.9;
    max-width: 100%;
  }
}
.section__description--about {
  margin-bottom: 10px;
}
.section__description--404 {
  font-size: 16px;
  line-height: calc(28 / 16);
  margin-bottom: 50px;
  max-width: 560px;
  @include max-screen($breakpoint-mobile) {
    font-size: 11px;
    line-height: calc(20 / 11);
    margin-bottom: 59px;
    padding: 0 25px;
    letter-spacing: 0.137em;
    text-align: left;
  }
}
.section__description--thank-you {
  max-width: 355px;
  margin: 0 auto;
  font-size: 16px;
  text-align: center;
  line-height: calc(28 / 16);
  margin-bottom: 56px;
  @include max-screen($breakpoint-mobile) {
    max-width: 240px;
    font-size: 11px;
    line-height: calc(17 / 11);
    margin-bottom: 32px;
  }
}
.section__content {
  position: relative;
}
.section__content-image {
  max-width: 100%;
  margin-bottom: 49px;
  @include max-screen($breakpoint-mobile) {
    margin-bottom: 23px;
  }
}
.section__view-more {
  text-align: center;
  position: relative;
}
.section__view-more--index-distributors,
.section__view-more--index-about {
  padding-top: 24px;
  @include max-screen($breakpoint-mobile) {
    padding-top: 11px;
  }
}
.section--index-catalogue {
  text-align: left;
  @include max-screen($breakpoint-mobile) {
    padding-top: 78px;
  }
}
.section__view-more--taxonomy {
  padding: 15px 0 133px;
  @include max-screen($breakpoint-mobile) {
    padding: 0 0 70px;
  }
}
.section__view-more--index-catalogue {
  text-align: left;
  @include max-screen($breakpoint-mobile) {
    text-align: center;
    top: 17px;
  }
}
.section__left,
.section__right {
  display: inline-block;
  vertical-align: top;
  width: 50%;
  @include max-screen($breakpoint-mobile) {
    width: 100%;
  }
}
.section__left {
  padding-top: 21px;
  @include max-screen($breakpoint-mobile) {
    padding-left: 0;
  }

  #{$windows} {
    padding-top: 10px;
  }
}
.section__right {
  margin-left: -4px;
  text-align: center;
  .section--index-catalogue & {
    @include max-screen($breakpoint-mobile) {
      display: none;
    }
  }
}
.section__catalogue-image {
  width: 332px;
  height: 458px;
  border: 2px solid #f2f2f3;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  @include max-screen($breakpoint-mobile) {
    width: 216px;
    height: 298px;
    border: 1px solid #f2f2f3;
    margin: 0 auto 23px;
  }
  .section__left & {
    display: none;
    @include max-screen($breakpoint-mobile) {
      display: block;
    }
  }
}
